{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ titulo_aba }}</title>
    {% block extra_css %}
      <link rel="stylesheet" href="{% static 'css/global/system.css' %}" />
    {% endblock %}
  </head>

  <body>
    {% include 'templates/partials/_header.html' %}

    <main class="container main-content">
      {% block content %}

      {% endblock %}
    </main>

    {% include 'templates/partials/_footer.html' %}

    <script src="{% static 'scripts/main.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
