{% extends 'templates/base.html' %}
{% load static %}

{% block title %}Habilita+ - Página Inicial{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/global/system.css' %}">
{% endblock %}

{% block content %}
<main class="home">

    <section class="welcome">
        <h1>Bem-vindo de volta!</h1>
        <p>Acompanhe seu progresso e próximas etapas</p>
    </section>

    <section class="quick-actions">

        <article class="action-card">
            <h3>Agendar Aulas</h3>
        </article>

        <article class="action-card">
            <h3>Meus Agendamentos</h3>
        </article>
    </section>

    <section class="">

        <article class="card">
            <h2>Próximas Aulas</h2>
        </article>
        
    </section>

</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'scripts/index.js' %}"></script>
{% endblock %}