{% extends 'templates/base.html' %}
{% load static %}

{% block title %}Habilita+ - Página Inicial{% endblock %}

{% block content %}
<main class="home">

    <section class="welcome">
        <h1>Bem-vindo de volta!</h1>
        <p>Acompanhe seu progresso e próximas etapas</p>
    </section>

    <section class="">
        <article class="card">
            <h2>Próximas Aulas</h2>
        </article>
        
    </section>

</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'scripts/index.js' %}"></script>
{% endblock %}