<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../backend/base/static/css/dashboard.css">
    <title>Document</title>
</head>
|
<body>

<!-- COLOCAR NAV HEADER (EXTENDS)-->
    

    <main class="dashboard">

        <section class="welcome">
            <h1>Olá, João Silva! 👋</h1>
            <p>Acompanhe seu progresso e próximas etapas</p>
        </section>

        <section class="progress-card">
            <h2>Seu Progresso - Categoria B</h2>

            <div class="progress-bar">
                <div class="progress-fill"></div>
            </div>

            <div class="progress-status">
                <div>Aulas Teóricas</div>
                <div>Aulas Práticas</div>
                <div>Exames</div>
            </div>
        </section>

        <section class="quick-actions">

            <article class="action-card">
                <h3>Agendar Aula</h3>
            </article>

            <article class="action-card">
                <h3>Meus Agendamentos</h3>
            </article>

            <article class="action-card">
                <h3>Pagamentos</h3>
            </article>

            <article class="action-card">
                <h3>Certificados</h3>
            </article>

        </section>

        <section class="content-grid">

            <article class="card">
                <h2>Próximas Aulas</h2>
            </article>

            <article class="card">
                <h2>Pagamentos Pendentes</h2>
            </article>

        </section>

    </main>

    <script src="js/index.js"></script>
</body>