{% load static %}
<header>
  <nav class="navbar">
    
      <a href=""><img src="{% static 'img/logo.png' %}" alt="Habilita+" /></a>
      <ul class="navbar">
        <li><a href="{% url 'habilita:cliente_home' %}" class="active">Página Inicial</a>
        </li>
        <li>
          <a href="#">Agendamento</a>
        </li>
        <li>
          <a href="#">Meus Agendamentos</a>
        </li>
      </ul>

      <div class="nav-actions">
        <a href="#">👤</a>
        <a href="{% url 'habilita:index' %}">↪</a>
      </div>
  </nav>
</header>
