{% load static %}
<header>
    <nav class="navbar">
        <div class="container">
            <a href = "{% url 'habilita:listar_produtos'%}"></a>
            <img src="{% static 'img/logo.png'%}" alt="Habilita+">

            <ul class="nav-links">
                <li><a href="/" class="active">Página Inicial</a></li>
                <li><a href="#">Agendamento</a></li>
                <li><a href="#">Meus Agendamentos</a></li>
            </ul>

            <div class="nav-actions">
                <button>👤</button>
                <button>↪</button>
            </div>
        </div>
    </nav>
</header>